
<div class="board-actions">
    <input type="text" name="thread-search" id="thread-search" placeholder="Search OPs...">
    [ <a href="/g/catalog">Catalog</a> ]
    [ <a href="/g/catalog">Archive</a> ]
</div>
<hr>
<% for (let thread of threads) { %>
    <%- include('fragments/thread-preview', { thread, posts: thread.Post }); %>
<% } %>