<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/frozen-theme.css">
    <title>Frozen Chan!!</title>
</head>
<body>
    <div class="front-page">
        <h1 class="">IFTM Chan! :3 </h1>
        <div class="card">
            <div class="card-title">iftm chan</div>
            <div class="card-content">
                chan pra reclamar
                <br>
                da bosta da faculdade
                <br>
                <br>
                teste
            </div>
        </div>
        <img class="front-logo" src="resources/if.png" alt="remilia from re zero" >
        <div class="card">
            <div class="card-title">Boards</div>
            <div class="card-content">
                <table class="board-info">
                    <thead>
                        <tr>
                            <th>Boards</th>
                            <th>Diretório</th>
                            <th>Threads Ativas</th>
                            <th>Online hoje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Computaria</td>
                            <td>/g/</td>
                            <td>25</td>
                            <td>999</td>
                        </tr>
                        <tr onclick="document.location.href='/g/'" style="cursor: pointer;">
                            <td>Computaria</td>
                            <td>/g/</td>
                            <td>25</td>
                            <td>999</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-title">Stats</div>
            <div class="card-content flex-between">
                <span><b>Online agora:</b> 128</span>
                <span><b>Total de Threads:</b> 64</span>
                <span><b>Conteudo ativo:</b> 128GB</span>
            </div>
        </div>
    </div>
</body>
</html>
